<!doctype html>
<html lang="en">

    <head>
        <title>Adicionar Venda</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <style>
            body {
                background-image: url('bgimg.webp');
            }
        </style>
    </head>

    <body>
        <form action="VendaController" method="post" class="container">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="addVenda">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="Id do Cliente" hidden value="0">
                    <input type="text" class="form-control" id="id" name="id" placeholder="Id do Cliente" disabled value="0">
                </div>
                <div class="form-group col-md-2">
                    <label for="addQuantidade">Quantidade</label>
                    <input type="text" class="form-control" id="addQuantidade" name="addQuantidade" required
                           placeholder="Quantidade">
                </div>
                <div class="form-group col-md-4">
                    <label for="addValor">Valor</label>
                    <input type="text" class="form-control" id="addValor" name="addValor" required
                           placeholder="Valor da Venda">
                </div>
                <div class="form-group col-md-4">
                    <label for="addData">Data</label>
                    <input type="date" class="form-control" id="addData" name="addData" required placeholder="DD/MM/AAAA">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="iDCliente">ID Cliente</label>
                    <input type="text" class="form-control" id="iDCliente" name="iDCliente" required
                           placeholder="ID do Cliente">
                </div>
                <div class="form-group col-md-4">
                    <label for="iDProduto">Id Produto</label>
                    <input type="text" class="form-control" id="iDProduto" name="iDProduto" required
                           placeholder="ID do Produto">
                </div>
                <div class="form-group col-md-4">
                    <label for="iDVendedor">Id Vendedor</label>
                    <input type="text" class="form-control" id="iDVendedor" name="iDVendedor" required
                           placeholder="ID do Vendedor">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button type="button" class="btn btn-danger" onclick="history.back()">Cancelar</button>
        </form>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="jquery-3.4.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>

</html>